@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
    --br-radius: 4px;
    font-family: Inter, sans-serif;
    --primary-clr: #207BFF;
    --primary-lt-clr: #428FFF;
    --primary-dk-clr: #0B66EA;
    --secondary-clr: #B0C7EB;
    --secondary-lt-clr: #D1DFF5;
    --secondary-ltr-clr: #F7F9FD;
    --secondary-dk-clr: #97B4E2;
    --accent-clr: #F95285;
    --accent-lt-clr: #FE6C99;
    --accent-dk-clr: #F3356F;
    --gray-clr: #313131;
    --base-clr: #FFFFFF;
    --base-dk-clr: #C6C6C6;
    --background-dk-clr: #F3F6FC;
    --background-dkr-clr: #EEF3FC;
    --description-lines-n: 6;
    --movie-clapper-lt-clr: #778EB1;
    --movie-clapper-dk-clr: #405980;
}

body {
    background-color: var(--base-clr);
}

*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-size: clamp(1rem, 1rem + 5vw, 4rem);
}

.page-title span.emoji {
    font-size: clamp(1rem, 1.5rem + 5vw, 6rem) !important;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 0.375rem 1rem;
    border-radius: var(--br-radius);
    font-size: 0.875rem;
    cursor: pointer;
    gap: 0.5rem;
    transition: background-color 0.1s ease-out;
}

.round-btn {
    gap: 0;
    border-radius: 50%;
    padding: 0.375rem;
}

.primary-btn {
    background-color: var(--primary-clr);
    color: var(--base-clr);
}

.primary-btn:hover {
    background-color: var(--primary-lt-clr);
}

.primary-btn:active {
    background-color: var(--primary-dk-clr);
}

.accent-btn {
    background-color: var(--accent-clr);
    color: white;
}

.accent-btn:hover {
    background-color: var(--accent-lt-clr);
}

.accent-btn:active {
    background-color: var(--accent-dk-clr);
}

.header-btn {
    background-color: var(--base-clr);
    width: fit-content;
    text-decoration: none;
    user-select: none;
}

.header-btn:hover {
    background-color: var(--base-dk-clr);
}

.page-title {
    grid-area: title;
    text-align: center;
}

.page-title div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

.page-title h1 {
    background-color: var(--primary-clr);
    background-image: linear-gradient(45deg, var(--primary-clr), var(--secondary-clr));
    background-clip: text;
    background-repeat: repeat;
    background-size: 100%;
    -webkit-text-fill-color: transparent;
}

.page-title span {
    font-size: clamp(1rem, 1rem + 1vw, 1.5rem);
    color: var(--gray-clr);
    font-weight: 200;
}

.search-and-discover {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-area: search;
    width: 100%;
    flex-wrap: wrap;
}

.search-and-discover button:first-of-type svg {
    transform: scaleX(-1);
}

.search-and-discover div {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    width: clamp(18rem, 50% + 10vw, 24rem);
}

main {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
            "header header header header header"
            ". . title . ."
            ". . search . ."
            ". movies movies movies .";
    justify-items: center;
    align-items: center;
    gap: 1.25rem;
    padding: 0.5rem 1rem;
}

.nav-bar {
    width: 70%;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    grid-area: header;
    flex-wrap: wrap;
}

.search-bar {
    background-color: transparent;
    border: 0.1rem solid var(--primary-clr);
    border-radius: 1.5rem;
    height: calc(0.1875rem + 2rem);
    padding-inline: 1rem;
    max-width: 450px;
    width: 80%;
}

.svg-icon {
    display: flex;
    fill: white;
    width: 1.5rem;
    aspect-ratio: 1;
}

.movie-card {
    display: grid;
    grid-template-columns: 10rem 1fr 1fr;
    grid-template-areas:
            "c-img c-title c-title"
            "c-img c-desc c-desc"
            "c-tags c-tags c-button";
    border-radius: calc(var(--br-radius) * 2);
    background-color: var(--secondary-ltr-clr);
    max-width: 26rem;
    align-items: center;
    gap: 0.5rem;
    padding: 0.7rem;
}

.movie-card-img {
    width: 100%;
    max-height: 8rem;
    object-fit: cover;
    border-radius: var(--br-radius);
    grid-area: c-img;
}

.movie-card-title {
    font-size: 1.5rem;
    font-weight: 500;
    grid-area: c-title;
}

.movie-card-description {
    font-size: 0.8125rem;
    grid-area: c-desc;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: var(--description-lines-n);
    line-clamp: var(--description-lines-n);
    -webkit-box-orient: vertical;
}

.movie-card-tags {
    display: flex;
    gap: 0.5rem;
    font-size: 0.875rem;
    grid-area: c-tags;
}

.movie-card button {
    grid-area: c-button;
}

#movie-cards-container {
    background-color: var(--background-dkr-clr);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 1rem;
    justify-items: center;
    align-items: center;
    padding: 1rem;
    border-radius: 0 0 var(--br-radius) var(--br-radius);
    width: 100%;
}


.movie-clapper {
    grid-area: movies;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.clapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.clapper-upper, .clapper-lower {
    height: 2rem;
    --dashes-width: 0.7rem;

}

.clapper-upper {
    border-radius: var(--br-radius) var(--br-radius) 0 0;
    width: clamp(4rem, 6rem + 4vw, 12rem);
    background: repeating-linear-gradient(65deg, var(--movie-clapper-dk-clr) 0 var(--dashes-width), var(--movie-clapper-lt-clr) var(--dashes-width) calc(var(--dashes-width) * 2));
}

.clapper-lower {
    border-radius: 0 var(--br-radius) 0 0;
    width: 100%;
    background: repeating-linear-gradient(-65deg, var(--movie-clapper-dk-clr) 0 var(--dashes-width), var(--movie-clapper-lt-clr) var(--dashes-width) calc(var(--dashes-width) * 2));
}

@media screen and (max-width: 35em) {
    .nav-bar {
        justify-content: center;
    }

    main {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas:
            "header header header"
            ". title ."
            ". search ."
            "movies movies movies";
    }
}